* {
    border: none;
    border-radius: 13px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 10px;
    border: 2.5px solid #8aadf4;
    padding: 5px;
}

/* Workspaces */
#workspaces {
    background: #1e1e2e;
    border-radius: 13px;
    margin: 5px;
    padding-right: 0;
}

#workspaces button {
    color: #313244;
    margin-right: 5px;
    padding: 0;
}

#workspaces button.active,
#workspaces button.visible {
    color: #89b4fa;
    box-shadow: inset 0 -1px #1e1e2e;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.persistent {
    color: #f9e2af;
}

#workspaces button.empty {
    color: #313244;
}

#workspaces button.urgent {
    color: #f38ba8;
}

/* Modules */
#battery,
#cpu,
#memory,
#disk,
#window,
#clock,
#pulseaudio,
#pulseaudio.microphone,
#language,
#tray,
#custom-wallpaper,
#backlight-slider,
#cava,
#network,
#custom-notifications,
#custom-updates,
#custom-player,
#bluetooth {
    background: #1e1e2e;
    color: inherit;
    border-radius: 13px;
    margin: 5px;
    padding: 1.5px 7px;
}

/* Specific styling */
#clock {
    color: #a6e3a1;
}

#memory {
    color: #89b4fa;
}

#disk {
    color: #f9e2af;
}

#cpu {
    color: #89b4fa;
    padding-left: 10px;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-left: 5px;
}

#language {
    margin-right: 0;
}

#network {
    color: #f9e2af;
}

#custom-notifications {
    color: #f9e2af;
    padding-left: 9px;
    padding-right: 15px;
}

#custom-updates {
    color: #89b4fa;
    border-left: 0;
    border-right: 0;
}

#custom-player {
    color: #cba6f7;
    padding-left: 4px;
}

/* Window module centered and neat */
#window {
    margin-left: 60px;
    margin-right: 60px;
}
